<div class="container">
  <span>
    Pipe nativo do angular:
    {{ pessoa.nome | uppercase }}
  </span>
  <span>
    Sem pipe:
    {{ pessoa.nome }}
  </span>
  <span>
    Concatenação de pipes:
    {{ pessoa | json | uppercase }}
  </span>
  <span>
    Custom Pipe: Status do usuário: {{ pessoa.status | userStatus }}
  </span>
  <span>
    Custom Pipe com parâmetro: {{ pessoa.nome | truncate : 2 | uppercase }}
  </span>
</div>
<div class="container">
  <span>
    {{ "Olá mundo" | slice : 0 : 3 }}
  </span>
  <span>
    {{ "Olá mundo" | slice : 4 }}
  </span>
  <span>
    {{ [1, 2, 3, 4, 5] | slice : 0 : 3 }}
  </span>
  @for (item of [1,2,3,4,5] | slice : 0 : 2 ; track $index) {
  <span>{{ item }}</span>
  }
</div>

<div class="container">
  <h3>Formato ISO:8601</h3>
  <span>
    <b>Data Convertida para a região</b>: {{ minhaData | date : "full" }}
  </span>
  <span> <b>Data UTC-0</b>: {{ minhaData | date : "full" : "+0000" }} </span>
</div>
<div class="container">
  <h3>Formato Timestamp</h3>
  <span>
    <b>Timestamp para a região</b>: {{ 1697922000000 | date : "full" }}
  </span>
  <span>
    <b>Timestamp para UTC-0</b>: {{ 1697922000000 | date : "full" : "+0000" }}
  </span>
</div>
<div class="container">
  <h3>Formato Date Obj</h3>
  <span>
    <b>Data convertida para a região</b>: {{ minhaDataObj | date : "full" }}
  </span>
  <span>
    <b>Data convertida para UTC-0</b>:
    {{ minhaDataObj | date : "full" : "+0000" }}
  </span>
</div>
<div class="container">
  <h3>Formatações de Datas</h3>
  <span> <b>Curto</b>: {{ "2023-10-21T21:00:00.000Z" | date : "short" }} </span>
  <span>
    <b>Médio</b>: {{ "2023-10-21T21:00:00.000Z" | date : "medium" }}
  </span>
  <span> <b>Longo</b>: {{ "2023-10-21T21:00:00.000Z" | date : "long" }} </span>
  <span>
    <b>Completo</b>: {{ "2023-10-21T21:00:00.000Z" | date : "full" }}
  </span>
  <span>
    <b>Customizado 1</b>:
    {{
      "2023-10-21T21:00:00.000Z"
        | date
          : "'Hoje é' EEEE 'dia' dd 'de' MMMM 'de' YYYY 'às' HH:mm zzzz"
          : "+0000"
    }}
  </span>
  <span>
    <b>Customizado 2</b>:
    {{ "2023-10-21T21:00:00.000Z" | date : "'Data:' dd/MM/YY 'Hora:' HH:mm a" }}
  </span>
  <span>
    <b>Localidade</b>:
    {{ "2023-10-21T21:00:00.000Z" | date : "full" : undefined : "pt-BR" }}
  </span>
  <span>
    <b>Padrão Customizado</b>:
    {{ "2023-10-21T21:00:00.000Z" | date }}
  </span>
</div>
<div class="container">
  <h3>Decimais</h3>
  <span>
    <b>Conversão 12.3</b>:
    {{ 12.3 | number : "3.0-2" : "en-US" }}
  </span>
  <span>
    <b>Conversão 1212.3 (padrão en-US)</b>:
    {{ 1212.3 | number : "3.0-2" : "en-US" }}
  </span>
  <span>
    <b>Conversão 1234.1 (padrão en-US)</b>:
    {{ 1234.1 | number : "1.2-3" : "en-US" }}
  </span>
  <span>
    <b>Conversão 1234.1236 (padrão en-US)</b>:
    {{ 1234.1236 | number : "1.2-3" : "en-US" }}
  </span>
  <span>
    <b>Conversão 1234.1236 (padrão pt-BR)</b>:
    {{ 1234.1236 | number : undefined : "pt-BR" }}
  </span>
</div>
<div class="container">
  <h3>Moeda</h3>
  <span>
    {{ 10000.99 | currency : "BRL" : "symbol" }}
  </span>
  <span>
    {{ 10000.99 | currency : "BRL" : "code" }}
  </span>
  <span>
    {{ 10000.99 | currency : "BRL" : "TESTE" }}
  </span>
  <span>
    {{ 0.969 | currency : "USD" : "symbol-narrow" : "2.2-2" : "en-US" }}
  </span>
  <span>
    {{ 1 | currency }}
  </span>
</div>
<div class="container">
  <app-obs-com-objeto></app-obs-com-objeto>
</div>
<div class="container">
  <app-obs-com-array></app-obs-com-array>
</div>
<div class="container">
  <app-obs-com-promise></app-obs-com-promise>
</div>
